
{% extends 'front.html.twig' %}




{% block content %}

    {% set flashbag_notices = app.session.flashbag.get('success') %}
    {% if flashbag_notices is not empty %}
        <ul class="center">
            {% for notice in flashbag_notices %}

                <div class="alert alert-success">{{ notice }} </div>

            {% endfor %}

        </ul>
    {% endif %}
    <h1 xmlns="http://www.w3.org/1999/html">Ajoute d'enfant</h1>


    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <div class="card" style="height: 990px;width: 1000px; margin-left: 102px;">
        <div class="card-header">
            <i class="fa fa-align-justify"></i>  inscrire Enfants
        </div>
        <div class="card-body table-responsive p-0" style="margin-left: 200px">












                                        </br> </br> </br>

                                        {{  form_start(form) }}
                                        <div class="form-group row col-sm-7">
                                            <div class="col">
                                                <label for="nom">Entrez votre nom</label>
                                                {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'nom'} } ) }} </div>
                                            <div class="col">
                                                <label for="prenom">Entrez votre prenom</label>
                                                {{ form_widget(form.prenom,{'attr':{'class':'form-control','placeholder':'prenom'} } ) }}  </div>
                                        </div>

                                        <div class="form-group row col-sm-7">
                                            <div class="col">
                                                <label for="nom">datenaissance</label>
                                                {{ form_widget(form.datenaissance,{'attr':{'class':'form-control'} } ) }} </div>
                                            <div class="col">
                                                <label for="prenom">image</label>
                                                {{ form_widget(form.image,{'attr':{'class':'form-control'} } ) }}  </div>
                                        </div>

                                        <div class="form-group row col-sm-7">
                                            <div class="col">
                                                <label for="nom">cantine</label>
                                                {{ form_widget(form.cantine,{'attr':{'class':'form-control'} } ) }} </div>
                                            <div class="col">
                                                <label for="prenom">document</label>
                                                {{ form_widget(form.document,{'attr':{'class':'form-control'} } ) }}  </div>
                                        </div>

            <div class="form-group row col-sm-7">

                <div class="col">    {{ form_widget(form.remarque,{'attr':{'class':'form-group','style':"height: 300px;width: 590px;",'placeholder':'remarque.....'} } ) }} </div>

            </div>
                                        </br>
            <div class="form-group row col-sm-6">
                {{ form_widget(form.ajouter,{'attr':{'class':'btn btn-info'} } ) }}
            </div>

            {{ form_end(form) }}





                                </form>











            <!--/.main-->
        </div>
    </div>


    </div>








    </div>

    </div>








{% endblock %}