{% extends "Front.html.twig" %}
{% block cover %}
    url('{{ asset('front/images/hero_5.jpg') }}')
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.idEnfant,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="text-blue">{{ jour }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0"></div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="{{ asset("Images/"~menu.image) }}" alt="img1" style="height: 277px;width: 370px;"/>
                            <figcaption>
                                <div>
                                    <h2 class="text-white"><span>{{ menu.nom }}</span></h2>
                                    <p>{{ menu.description }}</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
        </div>
    </div>
    {{ form_widget(form.Valider,{'attr':{'class':'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}