
<form method="POST">
<table width="100%" cellspacing="5" cellpadding="5">
    <tr>
        <td style="width:200px;height:200px"><img src=src="{{rootDir~asset("/web/Images/"~enfant.image) }}" alt="Image"></td>


        <td width="75%">
            <p><b>Nom : </b>{{ enfant.nom}}</p>
            <p><b>prenom : </b>{{ enfant.prenom}}</p>
            <p><b>City : </b>{{ enfant.prenom}}</p>
            <p><b>Postal Code : </b>{{ enfant.prenom}}</p>
            <p><b>Country : </b> {{ enfant.prenom}} </p>
        </td>
    </tr>
</table>

</form>